form > * {
    padding: 10px 20px;
    margin: 20px auto;    
}

input {
    display: flex;
    justify-self: center;        
    min-width: 85vw;    
    height: 20px;
    border: none;
    -webkit-box-shadow: 0px 0px 9px 1px rgba(184,180,184,1);
    -moz-box-shadow: 0px 0px 9px 1px rgba(184,180,184,1);
    box-shadow: 0px 0px 9px 1px rgba(184,180,184,1); 
    border-radius: 20px;
}

.label {
    font-weight: 600;
    color: #6A6969;
    display: flex;
    justify-self: center;
    padding: 0 6vw;
}