#map {  
    height: 70vh;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
/* ALERT BOTTOM */
#alertBottom {
    min-height: 30vw;
    font-size: 14px;
    color: black;
    line-height: 26px;
    padding: 8px 0 8px 30px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    /* display: none; */
    z-index: 9999;
}
#alertBottom a {
    color: #4B8EE7;
    text-decoration: none;
}
#closeAlertBottom {
    float: right;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: -15px 0 0 0;
    font-weight: bold;
}
#closeAlertBottom:hover {
    color: #FFF;
}
/*
#cookieConsent a.cookieConsentOK {
    background-color: #F1D600;
    color: #000;
    display: inline-block;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    float: right;
    margin: 0 60px 0 10px;
}
#cookieConsent a.cookieConsentOK:hover {
    background-color: #E0C91F;
}*/