.title{
    margin: 0 6vw;
    margin-bottom: 50px;    
    font-family: 'Roboto';
}

h2 {
    font-size: 40px;
    color: #929292;
    font-weight: 400;
    height: 20px;
}

p {
    color: #929292;
    font-weight: 400;
}